* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color: #478bea;
    display: grid;
    grid-template: 15vh 1fr 10vh / 1fr;
    height: 100vh;
}
.header {
    background-color: #478bea;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 60px;
    font-family: "Andale Mono", sans-serif;
    box-shadow: 0 4px 5px #a6a6a6;
    z-index: 1;
}
.add-new {
    height: 50%;
    width: 10%;
    color: white;
    font-family: "Andale Mono", sans-serif;
    background-color: #8f8f8f;
    border: none;
    border-radius: 20px;
    font-size: 25px;
}
.add-new:hover {
    background-color: green;
}
.add-new:active {
    background-color: #418141;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.container {
    background-color: #dedede;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
}
.card {
    background-color: white;
    position: relative;
    border-radius: 8px;
    min-height: 40vh;
    box-shadow: 5px 5px 5px #a6a6a6;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    font-size: 25px;
    border-left: 8px solid #eab50a;
}
label {
    display: flex;
    gap: 5px;
    align-items: center;
}
#checkbox {
    width: 20px;
    height: 20px;
}
dialog {
    margin: auto;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    gap: 20px;
}
#modal-form {
    display:grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
    gap: 20px;
}
#ftitle, #fauthor, #fpage-num {
    justify-self: center;
    align-self: center;
    height: 20px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #d3d3d3;
    padding: 2px;
}
form input:focus {
    outline: none;
    border: 1px solid dodgerblue !important;
}
#fread {
    width: 20px;
    height: 20px;
    justify-self: center;
    align-self: center;
}
.close-button {
    background-color: white;
    border: none;
    color: #4563c5;
    justify-self: left;
    margin-left: 5px;
    font-size: 16px;
}
.submit-button {
    border-radius: 10px;
    background-color: #4563c5;
    padding: 10px 20px;
    border: none;
    align-self: center;
    justify-self: right;
    margin-right: 5px;
    color: white;
    font-size: 16px;
}
.closeBoxBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #d5d5d5;
}
.closeBoxBtn:hover {
    color: #d51a1a;
}