* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color: #478bea;
    display: grid;
    grid-template: 15vh 1fr 10vh / 1fr;
    height: 100vh;
}
.header {
    background-color: #478bea;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 60px;
    font-family: "Andale Mono", sans-serif;
    box-shadow: 0 4px 5px #a6a6a6;
    z-index: 1;
}
.add-new {
    height: 50%;
    width: 10%;
    color: white;
    font-family: "Andale Mono", sans-serif;
    background-color: #8f8f8f;
    border: none;
    border-radius: 20px;
    font-size: 25px;
}
.add-new:hover {
    background-color: green;
}
.add-new:active {
    background-color: #418141;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.container {
    background-color: #dedede;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
}
.card {
    background-color: white;
    border-radius: 8px;
    min-height: 40vh;
    box-shadow: 5px 5px 5px #a6a6a6;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    font-size: 25px;
    border-left: 8px solid #eab50a;
}
label {
    display: flex;
    gap: 5px;
    align-items: center;
}
#checkbox {
    width: 20px;
    height: 20px;
}